<p>works!</p>
<!-- get all users and display them in a table-->
<div>
    <div class="border">
        <button (click)="open(content)" class="btn btn-outline-warning"><i class="fa fa-user"></i>New User</button>
    </div>
</div>
<div class="container" class="center">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Mobile Number</th>
                <th>Email</th>
                <th>Username</th>
                <th>Password</th>

                <th>Role</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let user of users">
                <td><span>{{user._id}}</span></td>
                <td><span>{{user.firstName}}</span></td>
                <td><span>{{user.lastName}}</span></td>
                <td><span>{{user.mobileNum}}</span></td>
                <td><span>{{user.email}}</span></td>
                <td><span>{{user.username}}</span></td>
                <td><span>{{user.password}}</span></td>
                <td><span>{{user.role}}</span></td>
                <td>
                    <button (click)="openEdit(contentEdit,user)" class="btn btn-success">
                        <i class="fa fa-edit"></i>
                        Edit
                    </button>
                    <button   (click)="delete(user._id)" class="btn btn-danger">
                        <i class="fa fa-remove"></i>
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">New User</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form
            [formGroup]="myForm"
            (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="firstname">Firstname</label>
              <div class="input-group">
                <input
                class="input-group"
                formControlName="firstName"
                id="name"
                placeholder="Your first name"
                type="text"
                required
              />
              </div>
            </div>
            <div class="form-group">
                <label for="lastname">Last Name</label>
                <div class="input-group">
                  <input
                  class="input-group"
                  formControlName="lastName"
                  id="lastName"
                  placeholder="Your last name"
                  type="text"
                  required
                />
                </div>
              </div>
              <div class="form-group">
                <label for="mobileNum">Mobile Number</label>
                <div class="input-group">
                  <input
                  class="input-group"
                  formControlName="mobileNum"
                  id="mobileNum"
                  placeholder="Your mobile number "
                  type="text"
                  required
                />
                </div>
              </div>
              <div class="form-group">
                <label for="email">Email </label>
                <div class="input-group">
                  <input
                  class="input-group"
                  formControlName="email"
                  id="mobileNum"
                  placeholder="Your email "
                  type="text"
                  required
                />
                </div>
              </div>
              <div class="form-group">
                <label for="username">Username </label>
                <div class="input-group">
                  <input
                  class="input-group"
                  formControlName="username"
                  id="username"
                  placeholder="Your username "
                  type="text"
                  required
                />
                </div>
              </div>
              <div class="form-group">
                <label for="password">Password </label>
                <div class="input-group">
                  <input
                  class="input-group"
                  formControlName="password"
                  id="password"
                  placeholder="Your password "
                  type="password"
                  required
                />
                </div>
              </div>
              <div class="form-group">
                <label for="role">Role </label>
                <div class="input-group">
                  <input
                  class="input-group"
                  formControlName="role"
                  id="role"
                  placeholder="user/hotelAdmin/Admin"
                  type="text"
                  required
                />
                </div>
              </div>
              <div class="border text-center">
                <button data-dismiss="modal" class="btn btn-info">Submit</button>
                </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
        </div>
      </ng-template>

      <ng-template #contentEdit let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Edit User</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form
            [formGroup]="editForm">

            <div class="form-group">
                <label for="_id">ID</label>
                <div class="input-group">
                  <input
                  class="input-group"
                  formControlName="_id"
                 
                  placeholder="Your id"
                  type="text"
                  required readonly
                />
                </div>
              </div>
            
            <div class="form-group">
              <label for="firstname">Firstname</label>
              <div class="input-group">
                <input
                class="input-group"
                formControlName="firstName"
                id="firstName"
                placeholder="Your first name"
                type="text"
                required
              />
              </div>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <div class="input-group">
                  <input
                  class="input-group"
                  formControlName="lastName"
                  id="lastName"
                  placeholder="Your last name"
                  type="text"
                  required
                />
                </div>
              </div>
              <div class="form-group">
                <label for="mobileNum">Mobile Number</label>
                <div class="input-group">
                  <input
                  class="input-group"
                  formControlName="mobileNum"
                  id="mobileNum"
                  placeholder="Your mobile number "
                  type="text"
                  required
                />
                </div>
              </div>
              <div class="form-group">
                <label for="email">Email </label>
                <div class="input-group">
                  <input
                  class="input-group"
                  formControlName="email"
                  id="mobileNum"
                  placeholder="Your email "
                  type="text"
                  required
                />
                </div>
              </div>
              <div class="form-group">
                <label for="username">Username </label>
                <div class="input-group">
                  <input
                  class="input-group"
                  formControlName="username"
                  id="username"
                  placeholder="Your username "
                  type="text"
                  required
                />
                </div>
              </div>
              <div class="form-group">
                <label for="password">Password </label>
                <div class="input-group">
                  <input
                  class="input-group"
                  formControlName="password"
                  id="password"
                  placeholder="Your password "
                  type="password"
                  required
                />
                </div>
              </div>
              <div class="form-group">
                <label for="role">Role </label>
                <div class="input-group">
                  <input
                  class="input-group"
                  formControlName="role"
                  id="role"
                  placeholder="user/hotelAdmin/Admin"
                  type="text"
                  required
                />
                </div>
              </div>
              <div class="border text-center">
                <button (click)="onSave()" data-dismiss="modal" class="btn btn-info">Save Changes</button>
                </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
        </div>
      </ng-template>